<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="stylesheet" media="screen" href="/jquery.mobile-1.4.2.min.css" />
  <script src="/jquery-2.1.0.min.js"></script>
  <script src="/jquery.mobile-1.4.2.min.js"></script>
  <script src="/pi_slides.js"></script>
  <title>PiSlideshow</title>
</head>

<body>

  <%= yield %>

</body>
</html>

